osu_copy/
data/formatted_beatmaps/maps
data/formatted_beatmaps/songs
data/formatted_beatmaps/*.csv
data/raw_beatmaps/*.osz
data/*.gz
output/*
other_cofigs/
wandb/
**__pycache__/
**.pt
**.model
**.vocab
*.ipynb
